* {
  font-family: Helvetica, sans-serif;
}

body {
  padding: 60px;
}

input {
  border: 1px solid darkgray;
  width: 100%;
}

.gif_div {
  flex-direction: row;
}

img {
  width: 100px;
  height: 100px;
}